[submodule "three.js"]
	path = src/client/lib/threejs
	url = https://github.com/mrdoob/three.js.git
[submodule "PathFinding.js"]
	path = src/lib/pathfinding
	url = https://github.com/qiao/PathFinding.js.git
